.fir-clickcircle {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .fir-image-figure {
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    text-decoration: none;
  }
  
  .fir-image-figure .caption, .fir-image-figure figcaption {
    padding-left: 15px;
  }
  
  html.wf-active .fir-image-figure .fig-author-figure-title {
    font-family: var(--fir-font-header);
    font-size: 16px;
  }
  
  .fir-image-figure .fig-author-figure-title {
    color: var(--fir-color-grey);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 2px;
  }
  
  .fir-imageover {
    position: relative;
    display: flex;
  }
  
  .fir-imageover-color {
    height: 80px;
    width: 80px;
    position: absolute;
    background: var(--fir-blue-twitter-alpha);
    background-image: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background .3s ease-in-out;
    animation: fadeInFadeOut 2s infinite;
    top: 0;
    left: 0;
  }
  
  .fir-imageover-image {
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeInFadeOut 2s infinite;
  }
  
  @keyframes fadeInFadeOut {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }