.events {
  background-color: #000015;
  min-height: 100vh;
  padding: 30px 0px 100px;
}

.event-heading {
  text-align: center;
  color: white;
  margin: 40px;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.events-img {
  width: 320px;
  height: 500px;
  border-radius: 1rem;
}
