.card {
  padding: 0 !important;
}

.card-img {
  /* width: 20rem !important; */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.team-cat .subtitle {
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 50rem !important;
  }
  .team-cat .subtitle {
    font-size: 2rem !important;
    text-align: center;
  }

  .card .card_subtitle{
    /* border:1px solid red; */
    font-size: 0.8rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
  .card .card_subtitle{
    /* border:1px solid red; */
    font-size: 0.8rem !important;
  }
}
  